*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: radial-gradient( #bcb4f4, #6853bf);
  font-family: Arial, Helvetica, sans-serif;
}
#root{
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
header{
  background-color: white;
}
header ul{
  display: flex;
  padding: 1rem;
  list-style: none;
  justify-content: center;
}
header ul li a{
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  color: #6853bf;
  transition: .2s ;
  border-radius: 10px 0 10px 0;
}
header ul li a:hover{
  transform: scale(1.5);
  background-color: #6853bf;
  color: white;
}
header ul li a.active{
  transform: scale(1.5);
  background-color: #6853bf;
  color: white;
}
.home-body{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-title{
  color: #fff;
  text-align: center;
}
.todo-container-wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  width: 100%;
  height: 100%;
  max-height: 700px;
  max-width: 500px;
  box-shadow: 0 0 10px #6853bf;
  border-radius: 5px;
  overflow:hidden;
}
.todo-container{
  width: 100%;
  background-color: #6853bf;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 2px;
}
.title{
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.description{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  margin-bottom: 5px;
}
.todo-body{
  border-radius: 10px 10px 0 0;
  padding: 1rem;
  padding-bottom: 2rem;
  height: 0%;
  overflow-y: scroll;
  transition: 1s ease-in-out;
}
.todo-body.active{
  background: radial-gradient(transparent,rgba(0, 0, 0, 0.298));
  border: 1px solid #fff;
  height: 100%;
}
.todo-body::-webkit-scrollbar{
  display: none;
}
.tasks-wrap ul li {
  list-style: none;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 0 rgb(255, 255, 255);
  margin-bottom: 5px;
  display: flex ;
  align-items: center;
}
.icons-wrap{
  padding: 10px 1rem;
}
.icons-wrap i{
  cursor: pointer;
  color: #0000005b;
  margin: 0 5px;
}
.icons-wrap i:hover{

  color: #6853bf;
}
.tasks-wrap ul li:first-child{
  border-radius: 10px 10px 0  0;
}
.icons-wrap{
  text-align: right;
  flex: 1;
}
.input-wrap{
  display: flex;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 10px 10px 0  0;
}
.input-wrap input{
  padding: 8px;
  width: 90%;
  outline: none;
  border: 2px solid #6853bf;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}
.input-wrap button{
  width: 10%;
  border: 2px solid #6853bf;
  background-color: #6853bf;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: ra;

}
form{
  display: block;
}